CREATE DATABASE EMPLOYEE;

USE EMPLOYEE;

CREATE TABLE `employeedetails` (
  `EMPNAME` varchar(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

INSERT   INTO employee.employeedetails (EMPNAME)
   VALUES ('EMPNAME');
