import java.sql.*;

public class Connect {

  public static void main(  String[] args){

    Connection conn=null;

    try {

      String userName="testuser";

      String password="testpass";

      String url="jdbc:mysql://localhost/test";

      Class.forName("com.mysql.jdbc.Driver").newInstance();

      conn=DriverManager.getConnection(url,userName,password);

      System.out.println("Database connection established");

    }

 catch (    Exception e) {

      System.err.println("Cannot connect to database server");

    }

 finally {

      if (conn != null) {

        try {

          conn.close();

          System.out.println("Database connection terminated");

        }

 catch (        Exception e) {

        }

      }

    }

  }

  java Connect;

  Database connection;

  established Database;

  connection terminated;

  String password="testpass";

  String url="jdbc:mysql://localhost/test?user=" + userName + "&password="+ password;

  CREATE TABLE;

  void animal(  id INT){

  }

  PRIMARY KEY(){

  }

  name CHAR(){

  }

  category CHAR(){

  }

}
