import java.net.InetSocketAddress;

   import java.net.ServerSocket;

   import java.net.SocketAddress;

   ...
   for (int i = 0;
 i < 12;
 i++) {

   ServerSocket ss = null;

   int port = getRandomPort(from, to);

   ...
   try {

  ss = new ServerSocket();

  SocketAddress sa = new InetSocketAddress(address, port);

  ...
  ss.bind(sa);
