import java.net.InetSocketAddress;

   import java.net.ServerSocket;

   import java.net.Socket;

   ...
   private ServerSocketChannel ssc;

   private ServerSocket ss;

   private Selector selector;

   ...
   ServerSocketChannel channelToClose = ssc;

  ServerSocket socketToClose = ss;

  if (ssc instanceof ASServerSocketChannel) {

  ...
  InetSocketAddress isa = new InetSocketAddress(hostToBind, portToBind);

  ss.bind(isa, backlog);
