public static void main(String[] args) throws IOException {

   ServerSocket serverSocket = null;

   boolean listening = true;

   ...
   try {

   serverSocket = new ServerSocket(4444);

   }
 catch (IOException e) {

   ...
  serverSocket.close();

  }
