import java.net.ConnectException;

   import java.net.ServerSocket;

   import java.net.Socket;

   ...
   public static int findFreePort() {

   ServerSocket socket= null;

   try {

   ...
   socket= new ServerSocket(0);

  ...
  return socket.getLocalPort();
