C:\SQLite>sqlite3 EMPLOYEE.db
SQLite version 3.6.17
Enter ".help" for instructions
Enter SQL statements terminated with a ";
"
sqlite> CREATE TABLE employeedetails (EMPNAME varchar(20));

sqlite> INSERT INTO employeedetails (EMPNAME) VALUES ('EMPNAME1');

sqlite> INSERT INTO employeedetails (EMPNAME) VALUES ('EMPNAME2');

sqlite> INSERT INTO employeedetails (EMPNAME) VALUES ('EMPNAME3');

sqlite> SELECT EMPNAME FROM employeedetails;
