import java.net.InetSocketAddress;

import java.net.ServerSocket;

import java.net.Socket;

public class BlockingServerSocketAdapter extends ServerSocket {

  private final AcceptObserver observer;

  private final ServerSocket delegate;

  public int getReceiveBufferSize() throws SocketException {

  }

}
