import java.net.InetSocketAddress;

import java.net.ServerSocket;

import java.net.Socket;

public class ASServerSocket extends ServerSocket {

  private ServerSocket ss=null;

  private ASServerSocketChannel sschan=null;

  public boolean getReuseAddress() throws SocketException {

  }

}
