import java.net.InetAddress;

   import java.net.ServerSocket;

   import java.net.Socket;

   ...
   if (socketListener == null) return 0;

   return socketListener.getSoTimeout();

   }

   ...
  ServerSocket serverSocket;

  try {

  ...
  public int getSoTimeout() throws IOException {

  return serverSocket.getSoTimeout();
