import java.io.IOException;

   import java.net.ServerSocket;

   import eu.ist.Atelier.util.xml.*;

   ...
   int port = params.getPort();

   server = new ServerSocket(port);

   }

   ...
   public boolean accepting() throws ProtocolException {

  return (server != null && server.isBound());

  }

  ...
  ServerSocket server = null;
