import java.net.InetAddress;

import java.net.ServerSocket;

import java.net.Socket;

public abstract class ServerSocketWrapper extends ServerSocket {

  private ServerSocket delegate;

  public boolean isBound(){

  }

}
