   ServerSocket server = nu
ll;
   InetAddress localho
st;
   ...
   listenerThread != null &&
   server.isBound() &&
   !listenerThread.isInterrupted()
) {
   ...
   public int getLocalPort(
) {
  if (server != null && server.isBound()
) {
  return server.getLocalPort
();
  ...

  }
  if (!server.isBound()
