import java.net.InetAddress;

   import java.net.ServerSocket;

   import java.util.Collections;

   ...
   protected ServerSocket serversocket;

   ...
   {

  while(!serversocket.isClosed())
  {

  ...
  Object ret = connections.get(address);
