   protected static ServerSocket _serverSock
et;
   private final int _serverID = (int) (Math.random() * Integer.MAX_VALU
E);
   ...
   if (_serverSocket == null)
   _serverSocket = new ServerSocket(CLIENT_POR
T);
 
  }
   ...
  while (!_serverSocket.isClosed()
) {
  ...
  public void run(
) {
  ServerSocket so
