import java.net.NetworkInterface;

   import java.net.ServerSocket;

   import java.nio.channels.CancelledKeyException;

   ...
   continue;

   ssc.socket().setReceiveBufferSize(rbw);

   }
 catch (IOException ioe) {

   ...
   ServerSocketChannel ssc = ServerSocketChannel.open();

  ServerSocket ssoc = ssc.socket();

  ...
  ssoc.setReceiveBufferSize(Server.srv.TCP_RECEIVE_BUFFER_WINDOW);
