   import java.net.ServerSock
et;
   import java.net.Sock
et;
   ...
   ServerSocket s = new ServerSocket(por
t);
   ...
   s.setReuseAddress(tru
e);
   System.out.println("\nReady on port " + port + "...
