MulticastSocket sendSocket = null;

   ServerSocket listenSocket = null;

   Socket replySocket = null;

   ...
   listenSocket = new ServerSocket(0);

   ...
  listenSocket.setSoTimeout(3000);

  replySocket = listenSocket.accept();

  ...
  replySocket.setSoTimeout(3000);
