   private ServerSocket so
ck;
   ...
   if (localAddress == null)
   sock = new ServerSocket(por
t);
   else
   ...
   sock = new ServerSocket(port, 0, localAddres
s);

  }
  ...
  tr
y {
  sock.setSoTimeout(1000
