InetAddress metalab = new InetAddess("metalab.unc.edu");

int chargen = 19;

String s = "My second UDP Packet";

byte[] b = s.getBytes();

DatagramPacket dp = new DatagramPacket(b, b.length, ia, chargen);

DatagramSocket sender = new DatagramSocket();

sender.send(dp);
