mySocket = new Socket("localhost", 1234);

    out = new PrintWriter(mySocket.getOutputStream(), true);

    in = new BufferedReader(new InputStreamReader(
                                mySocket.getInputStream()));
