$ mysql -u root -p mysql
password: ****
> create database geronimo;

> grant all on geronimo.* to geronimo@127.0.0.1 
identified by 'geronimo';

> grant all on geronimo.* to geronimo@localhost 
identified by 'geronimo';

> use geronimo;

Database Changed
> create table phone ( 
name varchar(255) primary key, 
phone varchar(255)
);

> insert into phone ('Ralph Nader', '555-2221');

> insert into phone ('Albert Einstein','555-2222');
