channel= DatagramChannel.open();

   DatagramSocket socket=channel.socket();

   SocketAddress localAddr=new InetSocketAddress(8000);

   ...
   socket.bind(localAddr);

   System.out.println("????????");

   }
