byte outBuffer[] = new byte[packetSize];

   DatagramSocket s = new DatagramSocket();

   long startTime,prevTime,curTime;

   ...
   s.connect(address,port);

   period = (long)(0.5+(1000./(double)(rate)));

   System.out.println("Period="+period);
