import java.net.DatagramPacket;

   import java.net.DatagramSocket;

   import java.net.InetAddress;

   ...
   private DatagramSocket UDP_ACCESS;

   ...
  UDP_ACCESS = new DatagramSocket();

  }

  ...
  new FixedSizeExpiringSet(200,200));

  UDP_ACCESS.connect(InetAddress.getLocalHost(),PORT);
