DatagramPacket dp = new DatagramPacket(message.getBytes(), message.length());

   DatagramSocket sock = new DatagramSocket();

   sock.connect(addr, 1234);

   ...
   System.out.println("      Sending message to " + sock.getInetAddress());

   sock.send(dp);

   sock.close();

   }
