import java.net.DatagramPacket;

   import java.net.DatagramSocket;

   import java.net.SocketException;

   ...
   private Properties properties = new Properties();

   private DatagramSocket socket = null;

   private Thread thread;

   ...
   try {

  socket = new DatagramSocket(0, NetUtil.getLocalAddress());

  }
 catch (SocketException se) {

  ...
  properties.put("host", socket.getLocalAddress().getHostAddress());
