   static DatagramSocket returnListenerSocketOnInterface(
   InetAddress interfac
) {
   ...
   DatagramSocket dss = listener.d
ss;
   ...
  static DatagramSocket
  refreshSocketOnInterface(InetAddress interfac
