   private DatagramSocket clientSocket = nu
ll;
   ...
   t
ry{
   clientSocket = new DatagramSocket(por
t);
   System.out.println ("XtremWeb for SunRPC listening on UDP port: " + 
   ...
   clientSocket.getLocalPort(
));

