import java.net.DatagramPacket;

   import java.net.DatagramSocket;

   import java.net.SocketException;

   ...
   public static final int packetSize = 16 * 1024;

   private DatagramSocket datagramListenerSocket;

   ...
   try {

  datagramListenerSocket = new DatagramSocket(port);

  }
 catch (SocketException e) {
