import java.net.DatagramPacket;

   import java.net.DatagramSocket;

   import java.net.SocketException;

   ...
   private Properties properties = new Properties();

   private DatagramSocket socket = null;

   private Thread thread;

   ...
   thread.start();

  p("started port=" + socket.getLocalPort());

  }

  ...
  try {

  socket = new DatagramSocket(0, NetUtil.getLocalAddress());
