import java.net.DatagramPacket;

   import java.net.DatagramSocket;

   import java.net.SocketAddress;

   ...
   protected DatagramSocket datagramSocket;

   protected SplitDatagramPacketReader splitDatagramPacketReader;

   ...
   endpoint = new DatagramSocketEndpoint(
  datagramSocket.getLocalSocketAddress(), bytesPerPacket);
