import java.sql.Connection;

import java.sql.SQLException;

import java.sql.Statement;

import javax.naming.InitialContext;

import javax.sql.DataSource;

public class MyServletJspOrEjb {

  public void doSomething() throws Exception {

    if (stmt != null) {

      try {

        stmt.close();

      }

 catch (      sqlexception sqlex) {

      }

      stmt=null;

    }

    if (conn != null) {

      try {

        conn.close();

      }

 catch (      sqlexception sqlex) {

      }

      conn=null;

    }

  }

}
