   private DatagramSocket udpSock
et;
   ...
 
  {
   udpSocket = new DatagramSocket( port
 );
   udpSocket.setReceiveBufferSize( MAX_RECV_BUFFER_SIZE
 );
   ...
   NLogger.warn( NLoggerNames.UDP_CONNECTION, 
  " Could not read from udp socket " + udpSocket.getLocalSocketAddress(), e
 );
  return nu
