   DatagramSocket  sock=nu
ll;
   ...
   tr
y {
   sock=new DatagramSocket(rcv_port, bind_add
r);
   bre
ak;
   ...
   sb.append(", receive buffer size=").append(sock.getReceiveBufferSize(
));
  sb.append(", send buffer size=").append(sock.getSendBufferSize(
));

  }
  ...
  sb.append(mcast_sock.getInterface().getHostAddress()).append(":").append(mcast_sock.getLocalPort(
));
  sb.append(", send buffer size=").append(mcast_sock.getSendBufferSize(
