import java.net.DatagramPacket;

import java.net.DatagramSocket;

import java.net.InetAddress;

public class UdpSessionStarter implements SessionStarter {

  protected DatagramSocket datagramSocket;

  int pause=1;

  int timeout=datagramSocket.getSoTimeout();

}
