   import java.net.DatagramSock
et;
   import java.util.concurrent.atomic.AtomicLo
ng;
   ...
   final BaseDatagramGroup group = (BaseDatagramGroup) getGroup
();
   final DatagramSocket socket = socket
