import java.net.InetAddress;

   import java.net.DatagramSocket;

   import java.net.DatagramPacket;

   ...
   private DatagramSocket socket;

   private Thread thread;

   ...
   }

  socket = new DatagramSocket(port, laddr);

  int prevRcvBuf = socket.getReceiveBufferSize();

  ...
  boolean restart = false;

  while (socket != null && !socket.isClosed()) {
