import java.net.DatagramPacket;

   import java.net.DatagramSocket;

   import java.net.InetAddress;

   ...
   _LOG.debug("Attempt: create socket");

   _socket = new DatagramSocket();

   _LOG.debug("Success: create socket");

   ...
   _LOG.debug("Attempt: sending command");

  while (!_socket.isConnected() && (waits != 0))
  {

  ...
  }
