public static void main( String [] argv ) throws IOException {

   DatagramSocket s =
   ...
   new DatagramSocket( Integer.parseInt(argv[0]) );

   ...
   new DatagramPacket(new byte [1024], 1024);

   s.receive( packet );

   String message = new String( packet.getData(  ) );
