   DatagramSocket sock
et;
   private boolean stopped = fal
se;
   ...
   public ReceiverThread(DatagramSocket ds) throws SocketExceptio
n {
   this.socket = 
ds;
   ...
   tr
y {
  socket.receive(d
p);
  String s = new String(dp.getData(), 0, dp.getLength(
