{

   DatagramSocket socket = new DatagramSocket();

   ...
   socket = new DatagramSocket(1111,InetAddress.getLocalHost() );

   ...
   socket.setReceiveBufferSize(1024);

   socket.setSendBufferSize(1024);
