import java.net.DatagramPacket;

   import java.net.DatagramSocket;

   import java.net.InetAddress;

   ...
   public void testMessageSent() throws Exception {

   DatagramSocket socket = new DatagramSocket();

   ...
   socket.setReuseAddress(true);

   socket.setSoTimeout(5000);

  ...
  final DatagramSocket socket = new DatagramSocket();

  socket.setReuseAddress(true);
