import java.net.DatagramPacket;

   import java.net.DatagramSocket;

   import java.net.ServerSocket;

   ...
   private ServerSocket _tcpSock = null;

   private DatagramSocket _udpSock = null;

   private BlockingConnection _leaf1 = null;

   ...
   _tcpSock = new ServerSocket(0);

  _tcpSock.setReuseAddress(true);

  ...
  _udpSock = new DatagramSocket();
