InetAddress host = InetAddress.getByName(hostname);

   DatagramSocket ds = new DatagramSocket();

   ds.connect(host, port);

   ...
   ds.setReceiveBufferSize(32768);

   ds.setSendBufferSize(32768);

   System.out.println(ds.getReceiveBufferSize());

   System.out.println(ds.getSendBufferSize());

   DatagramPacket incoming = new DatagramPacket(new byte[65507], 65507);
