ApplicationContext ctx =
    new ClassPathXmlApplicationContext("ex1appContext.xml");

    DataSource ds = (DataSource) ctx.getBean("dataSource");

Connection c = DataSourceUtils.getConnection(ds);

try {

    PreparedStatement ps = c.prepareStatement(
        "select City.Name as 'City', Country.Name as 'Country' " +
        "from City inner join Country on City.CountryCode = Country.Code " +
        "order by rand() limit 3");

    ResultSet rs = ps.executeQuery();

    while(rs.next()) {

        String city = rs.getString("City");

        String country = rs.getString("Country");

        System.out.printf("The city %s is in %s%n", city, country);

    }

}
 catch (SQLException ex) {

    ex.printStackTrace();

    try {
 c.close();
 }
 catch (SQLException e) {
 }

}
 finally {

    DataSourceUtils.releaseConnection(c, ds);

}
