import java.net.DatagramPacket;

   import java.net.DatagramSocket;

   import java.net.InetAddress;

   ...
   private DatagramSocket socket1, socket2;

   private int port1, port2;

   ...
  socket1 = new DatagramSocket(port1);

  socket2 = new DatagramSocket(port2);

  ...
  socket1.setSoTimeout(300);
