   ucast_sock=new DatagramSocket(0, bind_add
r);
   local_addr=new IpAddress(ucast_sock.getLocalAddress(), ucast_sock.getLocalPort(
));
   ...
   Thread thre
ad;
   DatagramSocket so
ck;
   byte[] buf=new byte[6500
0];
   ...
  public ReceiverThread(Receiver r, DatagramSocket sock
) {
  this.receiver
