MileStone mileStone;

   protected DatagramSocket serverSocket = null;

   DatagramPacket serverPacket;

   ...
   }

   public void setPacket(DatagramSocket s, DatagramPacket p) throws RemoteException{

   serverPacket = p;

   packetIn.setData(p.getData());

   serverSocket = s;
