public class RunnableExample implements Runnable {

  private String threadName;

  public RunnableExample(  String name){

    threadName=name;

  }

  public void run(){

    for (int i=0;
 i < 1000;
 i++) {

      System.out.println("Thread " + threadName + " : "+ i);

    }

  }

  public static void main(  String args[]){

    Thread thread1=new Thread(new RunnableExample("A"));

    thread1.start();

    Thread thread2=new Thread(new RunnableExample("B"));

    thread2.start();

  }

}
