public class IsAliveExample {

  public static void main(  String[] args){

    Thread th=new MyOwnThread("A");

    th.start();

    while (th.isAlive())     ;

    System.out.println("Thread is not alive any more.");

  }

}

class MyOwnThread extends Thread {

  private String threadName;

  public MyOwnThread(  String name){

    threadName=name;

  }

  public void run(){

    for (int i=0;
 i < 1000;
 i++) {

      System.out.println("Thread " + threadName + " : "+ i);

    }

  }

}
