class MyThread extends Thread {

  public void run(){

  }

}

public class Client {

  public static void main(  String[] args){

    MyThread t=new MyThread();

    t.start();

    new MyThread().start();

  }

}
