public class Ex3DaoImpl implements Ex3Dao {

  protected DataSource dataSource;

  protected SqlUpdate updateQuery;

  protected SqlFunction idQuery;

  public Integer createCity(  String name,  String countryCode,  String district,  Integer population){

    updateQuery.update(new Object[]{
name,countryCode,district,population}
);

    return getLastId();

  }

  protected Integer getLastId(){

    return idQuery.run();

  }

}
