import java.io.BufferedReader;

import java.io.FileReader;

import java.util.ArrayList;

import java.util.Collections;

import java.util.HashMap;

public class HashMapEx {

  public static void main(  String[] args){

    HashMap<String,Integer> wordcount=new HashMap<String,Integer>();

{

      BufferedReader in=new BufferedReader(new FileReader("/Users/andrian/input.txt"));

      String str;

      while ((str=in.readLine()) != null) {

        str=str.toLowerCase();

        int idx1=-1;

        for (int i=0;
 i < str.length();
 i++) {

          if ((!Character.isLetter(str.charAt(i))) || (i + 1 == str.length())) {

            if (i - idx1 > 1) {

              if (Character.isLetter(str.charAt(i)))               i++;

              String word=str.substring(idx1 + 1,i);

              if (wordcount.containsKey(word)) {

                wordcount.put(word,wordcount.get(word) + 1);

              }

 else {

                wordcount.put(word,1);

              }

            }

            idx1=i;

          }

        }

      }

      in.close();

    }

    e.printStackTrace();

    System.exit(1);

    (ArrayList(Integer > (Integer())));

    values.addAll(wordcount.values());

    Collections.sort(values,Collections.reverseOrder());

    (last_i=-1)=$missing$;

    ;

  }

}
