public class LocalSolrQueryRequest extends SolrQueryRequestBase {

  public final static Map emptyArgs=new HashMap(0,1);

  protected static SolrParams makeParams(  String query,  String qtype,  int start,  int limit,  Map args){

  }

}
