   private static java.util.HashMap defaultImplementations = new java.util.HashMap(16, 0.75
F);
   private static java.util.HashMap rootTagMap = new java.util.HashMap
();
   public final static jp.ac.nao.jvop3.model.ADQL.v1_0_3.impl.runtime.GrammarInfo grammarInfo = new jp.ac.nao.jvop3.model.ADQL.v1_0_3.impl.runtime.GrammarInfoImpl(rootTagMap, defaultImplementations, (jp.ac.nao.jvop3.model.ADQL.v1_0_3.XMLSchema.ObjectFactory.class
));
   public final static java.lang.Class version = (jp.ac.nao.jvop3.model.ADQL.v1_0_3.XMLSchema.impl.JAXBVersion.clas
