String[] groupNames = TurbineIntake.getGroupNames();

   groups = new HashMap((int)(1.25*groupNames.length + 1));

   ...
   pullMap = new HashMap((int)(1.25*groupNames.length + 1));

   for (int i=groupNames.length-1;
 i>=0;
 i--)
   {
