public IPluginModelBase[] createTargetModels(BundleDescription[] bundleDescriptions) {

   HashMap models = new HashMap((4/3) * bundleDescriptions.length + 1);
 
   for (int i = 0;
 i < bundleDescriptions.length;
 i++) {

   BundleDescription desc = bundleDescriptions[i];

   IPluginModelBase base = createExternalModel(desc);
