import javax.servlet.http.*;

import javax.servlet.*;

import java.io.*;

import java.sql.*;

import javax.sql.*;

import javax.naming.*;

public class HelloWebServlet extends HttpServlet {

  InitialContext ctx=null;

  DataSource ds=null;

  Connection conn=null;

  PreparedStatement ps=null;

  ResultSet rs=null;

  String sql="SELECT Name, Population FROM Country WHERE Name=?";

  public void init() throws ServletException {

    try {

      ctx=new InitialContext();

      ds=(DataSource)ctx.lookup("java:comp/env/jdbc/MySQLDataSource");

      conn=ds.getConnection();

      ps=conn.prepareStatement(sql);

    }

 catch (    SQLException se) {

      System.out.println("SQLException: " + se.getMessage());

    }

catch (    NamingException ne) {

      System.out.println("NamingException: " + ne.getMessage());

    }

  }

  public void destroy(){

    try {

      if (rs != null)       rs.close();

      if (ps != null)       ps.close();

      if (conn != null)       conn.close();

      if (ctx != null)       ctx.close();

    }

 catch (    SQLException se) {

      System.out.println("SQLException: " + se.getMessage());

    }

catch (    NamingException ne) {

      System.out.println("NamingException: " + ne.getMessage());

    }

  }

  public void doPost(  HttpServletRequest req,  HttpServletResponse resp){

    try {

      String country_name=req.getParameter("country_name");

      resp.setContentType("text/html");

      PrintWriter writer=resp.getWriter();

      writer.println("<html><body>");

      writer.println("<p>Country: " + country_name + "</p>");

      ps.setString(1,country_name);

      rs=ps.executeQuery();

      if (!rs.next()) {

        writer.println("<p>Country does not exist!</p>");

      }

 else {

        rs.beforeFirst();

        while (rs.next()) {

          writer.println("<p>Name: " + rs.getString("Name") + "</p>");

          writer.println("<p>Population: " + rs.getString("Population") + "</p>");

        }

      }

      writer.println("</body></html>");

      writer.close();

    }

 catch (    Exception e) {

      e.printStackTrace();

    }

  }

  public void doGet(  HttpServletRequest req,  HttpServletResponse resp){

    try {

      resp.setContentType("text/html");

      PrintWriter writer=resp.getWriter();

      writer.println("<html><body>");

      writer.println("<p>Hello from servlet doGet()</p>");

      writer.println("</body></html>");

      writer.close();

    }

 catch (    Exception e) {

      e.printStackTrace();

    }

  }

}
