import java.net.InetAddress;

   import java.util.HashMap;

   import java.util.Map;

   ...
   time = System.currentTimeMillis();

   Iterator iter = ((HashMap)receivedPackets.clone()).keySet().iterator();

   PacketDataWrapper dw;

   while (iter.hasNext()) {

   String tmpkey = (String)iter.next();
