import java.util.Iterator;

   import java.util.HashMap;

   import java.util.Collection;

   ...
   private Compartment outSide;

   private HashMap inContactWith;

   ...
   name = "compartment";

  inContactWith = new HashMap();

  }

  ...
  public boolean isInContactWith(Compartment c) {

  return inContactWith.containsKey(c.getName());
