import java.io.IOException;

   import java.util.HashMap;

   import java.util.Iterator;

   ...
   {

   private HashMap props;

   ...
   {

  props = new HashMap();

  }

  ...
  return false;

  return props.containsKey(canonicalize(key));
