import java.util.Map;

   import java.util.HashMap;

   import java.util.Iterator;

   ...
   {

   private HashMap flies = new HashMap();

   private Flyweight lnkFlyweight;

   ...
   System.out.println("\n==========checkFlyweight()=============");

  for ( Iterator it = flies.entrySet().iterator() ;
 it.hasNext() ;
  )
  {
