   import java.util.HashM
ap;
   import com.iplanet.jato.RequestConte
xt;
   ...
   public static HashMap displayItemMap, treeNodesM
ap;
   ...
   displayItemMap.put(""+MODULE_EAR, "enterpriseApplicationsEdit
");
  ...
  displayItemMap.put(""+MODULE_WAR, "webApplicationsEdit
