   HashMap seenModels, seenStmts, seen
Ns;
   ...
   seenModels = new HashMap
();
   ...
   seenStmts = new HashMap
();
   seenNs = new HashMap
();
  ...
  if(id == null)
  seenModels.put(m, id = "m" + seenModels.size(
