import java.util.ArrayList;

   import java.util.HashMap;

   import java.util.Iterator;

   ...
   HashMap changes = new HashMap();

   ...
   getAllTypesFromElement(cu, allTypes);

  for (int i = 0, length = allTypes.size();
 i < length;
 i++) {

  IType type = (IType)allTypes.get(i);

  ...
  getAllTypesFromHierarchy((JavaElement)cu, allTypes);

  for (int i = 0, length = allTypes.size();
 i < length;
 i++) {
