import java.util.*;

public class HashMapDemo {

  public static void main(  String[] args){

    HashMap hm=new HashMap();

    hm.put("A",new Double(3434.34));

    hm.put("B",new Double(123.22));

    hm.put("C",new Double(1200.34));

    hm.put("D",new Double(99.34));

    hm.put("E",new Double(-19.34));

    Set set=hm.entrySet();

    Iterator i=set.iterator();

    while (i.hasNext()) {

      Map.Entry me=(Map.Entry)i.next();

      System.out.println(me.getKey() + " : " + me.getValue());

    }

    double balance=((Double)hm.get("A")).doubleValue();

    hm.put("A",new Double(balance + 1000));

    System.out.println("A new balance : " + hm.get("Rohit"));

  }

}
