import java.util.ListIterator;

   import java.util.HashMap;

   import java.util.ArrayList;

   ...
   private long _numFiles = 0;

   private HashMap _fidToFileDesc = null;

   private ArrayList _files = null;

   ...
   urns.add(urn);

  int index = _files.size();

  java.io.File fil = new java.io.File(file.getLocation());

  ...
  indices.remove(fd.getIndex());
