private StoreContext context;

   private HashMap symbolTable;

   private Vector allTableTerms;

   ...
   allLeftTableTerms = new Vector();

   symbolTable = new HashMap();

   mainTerm = null;

   ...
   {

  if ( ((attributeSpecifiers==null) || (attributeSpecifiers.size()==0)) 
  && (specifier.getAlias()==null) && (mainClassInfo!=null) )
  ...
  AttributeSpecifier primitiveAttributeSpecifier = null;

  for ( int i=0;
 (attributeSpecifiers!=null) && (i<attributeSpecifiers.size());
