import java.util.Collection;

   import java.util.HashMap;

   import java.util.Iterator;

   ...
   public String toString(Object modelElement, HashMap args) {

   Iterator it;

   ...
   && rt == Model.getFacade().getActivator(msg)
  && Model.getFacade().getPredecessors(msg).size() < 2
  && (ptr2.message == null
  ...
  c = Model.getFacade().getSuccessors(pre);

  submax = c.size();
