}

   assertEquals("size must reflect number of mappings added.", keys.length, m.size());

   }

   ...
   public Map.Entry cloneMapEntry(Map.Entry entry) {

   HashMap map = new HashMap();

   map.put(entry.getKey(), entry.getValue());

   ...
   resetEmpty();

  assertEquals("Map.size() should be 0 with an empty map", 0, map.size());

  verify();

  ...
  Map.Entry entry = (Map.Entry) entrySet.iterator().next();

  HashMap temp = new HashMap();
