public class EmptyLoopBenchmark implements Benchmark {

  private static final int ITERATIONS=10 * 1000 * 1000;

  public int doCalculation(){

    for (int i=0;
 i < ITERATIONS;
 i++) {

      ;

    }

    return ITERATIONS;

  }

}
