import java.awt.Graphics;

import java.awt.GraphicsEnvironment;

import java.awt.Image;

import java.awt.Toolkit;

import java.awt.event.MouseEvent;

import java.awt.event.MouseListener;

import java.awt.event.WindowAdapter;

import java.awt.event.WindowEvent;

import java.net.MalformedURLException;

import java.net.URL;

import javax.swing.JFrame;

public class Test1 extends JFrame {

  private static final long serialVersionUID=1L;

  Image screenImage;

  int w, h;

  public static void main(  String[] args) throws Exception {

  }

  Test1(  String source) throws MalformedURLException {

    addWindowListener(new WindowAdapter(){

      public void windowClosing(      WindowEvent e){

        System.exit(0);

      }

    }

);

    addMouseListener($missing$=$missing$);

    this.setUndecorated(true);

    this.setVisible(true);

    GraphicsEnvironment.getLocalGraphicsEnvironment().getDefaultScreenDevice().setFullScreenWindow(this);

    w=this.getWidth();

    h=this.getHeight();

    System.out.println("Display resolution: " + String.valueOf(w) + "x"+ String.valueOf(h));

  }

  public void paint(  Graphics g){

    if (screenImage != null)     g.drawImage(screenImage,w / 2 - screenImage.getWidth(this) / 2,h / 2 - screenImage.getHeight(this) / 2,this);

  }

}
