import java.awt.*;

import java.awt.event.*;

import javax.swing.*;

import java.awt.GridLayout;

import java.awt.image.BufferedImage;

import java.awt.image.BufferStrategy;

public class essai {

  public static void main(  String[] argv){

    GraphicsEnvironment ge=GraphicsEnvironment.getLocalGraphicsEnvironment();

    GraphicsDevice gd=ge.getDefaultScreenDevice();

    GraphicsConfiguration gc=gd.getDefaultConfiguration();

    BufferCapabilities bufCap=gc.getBufferCapabilities();

    boolean page=bufCap.isPageFlipping();

{

      System.out.println("Page flipping");

    }

    Frame frame=new Frame(gd.getDefaultConfiguration());

    Window win=new Window(frame);

    win.addMouseListener(new MouseAdapter(){

      public void mousePressed(      MouseEvent evt){

        GraphicsDevice gd=GraphicsEnvironment.getLocalGraphicsEnvironment().getDefaultScreenDevice();

        gd.setFullScreenWindow(null);

      }

    }

);

    gd.setFullScreenWindow(win);

    win.requestFocus();

    DisplayMode[] affichages=gd.getDisplayModes();

    int i;

    gd.setDisplayMode(affichages[i]);

  }

}
