   public void setFullScreen(GraphicsDevice device
) {
   if (device==null
) {
   ...
   fullScreen = tr
ue;
   setDiagramSize((int)(device.getDisplayMode().getWidth() / _param.scale + 0.5), (int)(device.getDisplayMode().getHeight() / _param.scale + 0.5
));
   fullScreenFrame.show
();
 
