.getLocalGraphicsEnvironment();

   private static final GraphicsDevice[] gDevices = gEnvironment
   .getScreenDevices();

   ...
   private GraphicsDevice gDevice;

   private GraphicsConfiguration gConfiguration;

   ...
   DisplayMode[] mds = gDevice.getDisplayModes();

  for (int i = 0;
 i < mds.length;
 i++) {

  ...
  return gDevice.getDisplayModes();
