   private GraphicsDevice devi
ce;
   ...
   public Window getFullScreenWindow(
) {
   return device.getFullScreenWindow
();
 
  }
   ...
   public void restoreScreen(
) {
  Window window = device.getFullScreenWindow
();
  if (window != null
