public void startTest() {

   GraphicsDevice gd = GraphicsEnvironment.getLocalGraphicsEnvironment().
   getDefaultScreenDevice();

   ...
   System.out.println("getFullScreenWindow returns " +
   gd.getFullScreenWindow());

   System.out.println("Calling setFullScreen with frame");

   gd.setFullScreenWindow(this);
