   private GraphicsDevice devi
ce;
   ...
   public Graphics2D getGraphics(
) {
   Window window = device.getFullScreenWindow
();
   if (window != null
) {
   ...
   public void update(
) {
  Window window = device.getFullScreenWindow
();
  if (window != null
) {
  ...
  public JFrame getFullScreenWindow(
) {
  return (JFrame)device.getFullScreenWindow
