.getLocalGraphicsEnvironment();

   private static final GraphicsDevice[] gDevices = gEnvironment
   .getScreenDevices();

   ...
   private GraphicsDevice gDevice;

   private GraphicsConfiguration gConfiguration;

   ...
   if (gDevice.isDisplayChangeSupported())
  setDisplayMode(oldDisplayMode);

  ...
  return;

  else if (!gDevice.isDisplayChangeSupported() || dm == null) {
