PreparedStatement s;

   s = conn.prepareStatement (
               "INSERT INTO animal (name, category) VALUES(?,?)");

   s.setString (1, nameVal);

   s.setString (2, catVal);

   int count = s.executeUpdate ();

   s.close ();

   System.out.println (count + " rows were inserted");
