   public static void setDisplayMode(GraphicsDevice gd, int width, int height, int depth, int refresh)
 
  {
   ...
   Runtime.getRuntime().addShutdownHook(shutDownHoo
k);
   gd.setDisplayMode(d
m);
 
  } catch (IllegalArgumentException iaex
) {
   ...
 
  {
  private GraphicsDevice 
gd;
  private DisplayMode 
