.getLocalGraphicsEnvironment();

   private static final GraphicsDevice[] gDevices = gEnvironment
   .getScreenDevices();

   ...
   private GraphicsDevice gDevice;

   private GraphicsConfiguration gConfiguration;

   ...
   try {

   gDevice.setDisplayMode(dm);

  displayMode = dm;
