public static void main(String[] args)
{

	try
	{

		Class.forName("com.mysql.jdbc.Driver").newInstance();
 
		String username = "yourname";

		String password = "yourpwd";

		String dbURL = "jdbc:mysql:
			+ username + "&password=" + password;

		java.sql.Connection myConnection =
			DriverManager.getConnection(dbURL);

		Statement stat = myConnection.createStatement();

	}

	catch( Exception E )
	{
 System.out.println( E.getMessage() );
	}

}
