public void keyReleased (KeyEvent e)
{

int keychar = e.getKeyChar ();

int keycode = e.getKeyCode ();

if (keycode >= 0 && keycode < 256) 
{

    canvas.keymap [keycode] = false;

}

if (e.isShiftDown () 
    && e.getKeyCode () == KeyEvent.VK_ESCAPE 
    && !i_am_applet) 
{

    System.exit(0);

}

}

public void keyTyped (KeyEvent e)
{

}
