package com.javaworkspace.connectmysql;

import java.sql.Connection;

import java.sql.DriverManager;

import java.sql.ResultSet;

import java.sql.Statement;

/** 
 * @author www.javaworkspace.com
 */
public class ConnectMySQL {

  public static void main(  String[] args){

    try {

      Class.forName("com.mysql.jdbc.Driver");

      Connection connection=DriverManager.getConnection("jdbc:mysql://localhost:3306/EMPLOYEE","root","root");

      Statement statement=connection.createStatement();

      ResultSet resultSet=statement.executeQuery("SELECT EMPNAME FROM EMPLOYEEDETAILS");

      while (resultSet.next()) {

        System.out.println("EMPLOYEE NAME:" + resultSet.getString("EMPNAME"));

      }

    }

 catch (    Exception e) {

      e.printStackTrace();

    }

  }

}
