GraphicsEnvironment graphicsEnvironment =
      GraphicsEnvironment.getLocalGraphicsEnvironment();

    GraphicsDevice graphicsDevice =
      graphicsEnvironment.getDefaultScreenDevice();

    DisplayMode displayModes[] =
      graphicsDevice.getDisplayModes();
