JFrame frame = ...
  frame.createBufferStrategy(2);
 
  BufferStrategy bufferStrategy = frame.getBufferStrategy();

  while (!done()) {
  
    Graphics g = null;

    try {

      g = bufferStrategy.getDrawGraphics();

      drawNextScene(g);
 
    }
 finally {

      if (g != null) {

        g.dispose();

      }

    }

    bufferStrategy.show();

  }
