this.nodesToSpawn = nodesToSpawn;

   this.serverSocket = new ServerSocket();

   SocketAddress address = new InetSocketAddress(MMBase.getMMBase().getHost(), unicastPort);

   serverSocket.bind(address);

   log.info("Listening to " + address);
