<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>itjava</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CodeSearchServlet</servlet-name>
    <servlet-class>itjava.view.CodeSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeSearchServlet</servlet-name>
    <url-pattern>/CodeSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FAQSearchServlet</servlet-name>
    <servlet-class>itjava.view.FAQSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAQSearchServlet</servlet-name>
    <url-pattern>/FAQSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TutorialSelectionServlet</servlet-name>
    <servlet-class>itjava.view.TutorialSelectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TutorialSelectionServlet</servlet-name>
    <url-pattern>/TutorialSelectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TutorialDeliveryServlet</servlet-name>
    <servlet-class>itjava.view.TutorialDeliveryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TutorialDeliveryServlet</servlet-name>
    <url-pattern>/TutorialDeliveryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveSelectionsServlet</servlet-name>
    <servlet-class>itjava.view.SaveSelectionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveSelectionsServlet</servlet-name>
    <url-pattern>/SaveSelectionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FAQSelectionForm</servlet-name>
    <servlet-class>itjava.view.FAQSelectionForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAQSelectionForm</servlet-name>
    <url-pattern>/FAQSelectionForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeliverableSelectionServlet</servlet-name>
    <servlet-class>itjava.view.DeliverableSelectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliverableSelectionServlet</servlet-name>
    <url-pattern>/DeliverableSelectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FaqViewerLinkClickServlet</servlet-name>
    <servlet-class>itjava.view.FaqViewerLinkClickServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaqViewerLinkClickServlet</servlet-name>
    <url-pattern>/FaqViewerLinkClickServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CodeUploadServlet</servlet-name>
    <servlet-class>itjava.view.CodeUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeUploadServlet</servlet-name>
    <url-pattern>/CodeUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FaqRatingClickServlet</servlet-name>
    <servlet-class>itjava.view.FaqRatingClickServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaqRatingClickServlet</servlet-name>
    <url-pattern>/FaqRatingClickServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
 
</web-app>