<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>itjava</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CodeSearchServlet</servlet-name>
    <servlet-class>itjava.view.CodeSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeSearchServlet</servlet-name>
    <url-pattern>/CodeSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TutorialSelectionServlet</servlet-name>
    <servlet-class>itjava.view.TutorialSelectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TutorialSelectionServlet</servlet-name>
    <url-pattern>/TutorialSelectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TutorialDeliveryServlet</servlet-name>
    <servlet-class>itjava.view.TutorialDeliveryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TutorialDeliveryServlet</servlet-name>
    <url-pattern>/TutorialDeliveryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveSelectionsServlet</servlet-name>
    <servlet-class>itjava.view.SaveSelectionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveSelectionsServlet</servlet-name>
    <url-pattern>/SaveSelectionsServlet</url-pattern>
  </servlet-mapping>
</web-app>