import com.chilkatsoft.*;
public class ChilkatExample {
static {
try {
System.loadLibrary("chilkat");
}
catch ( UnsatisfiedLinkError e) {
System.err.println("Native code library failed to load.\n" + e);
System.exit(1);
}
}
public static void main( String argv[]){
boolean success;
CkXml xml=new CkXml();
success=xml.LoadXmlFile("soap1.xml");
if (success == false) {
System.out.println(xml.lastErrorText());
return;
}
xml.FirstChild2();
xml.FirstChild2();
xml.FirstChild2();
CkXml xmlFields;
xmlFields=xml.GetChildWithTag("Fields");
int i;
CkXml xmlField;
int numChildren;
numChildren=xmlFields.get_NumChildren();
for (i=0; i <= numChildren - 1; i++) {
xmlField=xmlFields.GetChild(i);
if (xmlField.HasChildWithTagAndContent("Code","Message") == true) {
System.out.println("Message: " + xmlField.getChildContent("Value"));
}
}
success=xml.LoadXmlFile("soap2.xml");
if (success == false) {
System.out.println(xml.lastErrorText());
return;
}
xml.FirstChild2();
xml.FirstChild2();
xml.FirstChild2();
xmlFields=xml.GetChildWithTag("Fields");
System.out.println("-----");
System.out.println("Message: " + xmlFields.getChildContent("Message"));
System.out.println("AuthCodeResp:" + xmlFields.getChildContent("AuthCodeResp"));
System.out.println("Balance: " + xmlFields.getChildContent("Balance"));
}
}
