import org.xml.sax.*;
import org.xml.sax.helpers.*;
import java.io.*;
public class TGSAXParser extends DefaultHandler {
public boolean onVacation=false;
public void startElement( String uri, String name, String qName, Attributes atts){
String vacationer=atts.getValue("vacation");
String cityName=atts.getValue("cityName");
String cityCountry=atts.getValue("cityCountry");
if (qName.equals("city") && (vacationer != null)) {
onVacation=true;
System.out.print("\n" + vacationer + " is on vacation in ");
}
if (qName.equals("cityName") && onVacation) {
}
if (qName.equals("cityCountry") && onVacation) {
}
}
public void characters( char[] ch, int start, int length){
if (onVacation) {
for (int i=start; i < start + length; i++) System.out.print(ch[i]);
}
}
public static void main( String[] args){
System.out.println("People on vacation in the following cities:");
try {
XMLReader xml=XMLReaderFactory.createXMLReader();
TGSAXParser handler=new TGSAXParser();
xml.setContentHandler(handler);
xml.setErrorHandler(handler);
FileReader r=new FileReader("cities.xml");
xml.parse(new InputSource(r));
}
catch ( SAXException se) {
System.out.println("XML Parsing Error: " + se);
}
catch ( IOException io) {
System.out.println("File I/O Error: " + io);
}
}
}
