import java.io.*;
import javax.xml.parsers.*;
import org.xml.sax.*;
import org.xml.sax.helpers.*;
public class BasicSax {
public static void main( String[] args){
DefaultHandler handler=new MyHandler();
parseXmlFile("infilename.xml",handler,false);
}
static class MyHandler extends DefaultHandler {
}
public static void parseXmlFile( String filename, DefaultHandler handler, boolean validating){
try {
SAXParserFactory factory=SAXParserFactory.newInstance();
factory.setValidating(validating);
factory.newSAXParser().parse(new File(filename),handler);
}
catch ( SAXException e) {
}
catch ( ParserConfigurationException e) {
}
catch ( IOException e) {
}
}
}
