import java.io.FileReader;
import java.io.FileWriter;
import java.io.IOException;
public class Crypt {
public static void main( String[] args){
boolean decrypt=false;
int key=DEFAULT_KEY;
FileReader infile=null;
FileWriter outfile=null;
if (args.length < 2 || args.length > 4) usage();
try {
for (int i=0; i < args.length; i++) {
if (args[i].substring(0,1).equals("-")) {
String option=args[i].substring(1,2);
if (option.equals("d")) decrypt=true;
else if (option.equals("k")) {
key=Integer.parseInt(args[i].substring(2));
if (key < 1 || key >= NLETTERS) usage();
}
}
else {
if (infile == null) infile=new FileReader(args[i]);
else if (outfile == null) outfile=new FileWriter(args[i]);
}
}
}
catch ( IOException e) {
System.out.println("Error opening file");
System.exit(0);
}
if (infile == null || outfile == null) usage();
if (decrypt) key=NLETTERS - key;
try {
encryptFile(infile,outfile,key);
infile.close();
outfile.close();
}
catch ( IOException e) {
System.out.println("Error processing file");
System.exit(0);
}
}
public static void encryptFile( FileReader in, FileWriter out, int k) throws IOException {
}
}
