public class TokenizingJavaSourceCode {
public static void main( String[] args) throws IOException {
BufferedReader in=new BufferedReader(new InputStreamReader(System.in));
System.out.print("Please enter a java file name: ");
String filename=in.readLine();
if (!filename.endsWith(".java")) {
System.out.println("This is not a java file.");
System.exit(0);
}
File javaFile=new File(filename);
if (javaFile.exists()) {
FileReader file=new FileReader(filename);
StreamTokenizer streamTokenizer=new StreamTokenizer(file);
int i=0;
int numberOfTokensGenerated=0;
while (i != StreamTokenizer.TT_EOF) {
i=streamTokenizer.nextToken();
numberOfTokensGenerated++;
}
System.out.println("Number of tokens = " + numberOfTokensGenerated);
}
else {
System.out.println("File does not exist!");
System.exit(0);
}
}
}
