{
Frame frame=null;
Graphics g=null;
FileOutputStream fileOut=null;
try {
frame=new Frame();
frame.addNotify();
Image image=frame.createImage(WIDTH,HEIGHT);
g=image.getGraphics();
g.drawString("Hello world",0,0);
fileOut=new FileOutputStream("test.gif");
GifEncoder encoder=new GifEncoder(image,fileOut);
encoder.encode();
}
catch ( Exception e) {
;
}
finally {
if (g != null) g.dispose();
if (frame != null) frame.removeNotify();
if (fileOut != null) {
try {
fileOut.close();
}
catch ( IOException ioe) {
;
}
}
}
}
