import java.io.FileReader;
import java.io.LineNumberReader;
public class Temp {
public static void main( String args[]){
try {
LineNumberReader lineNumberReader=new LineNumberReader(new FileReader("myFile.txt"));
String line=null;
while ((line=lineNumberReader.readLine()) != null) {
System.out.println("Line number " + lineNumberReader.getLineNumber() + ": "+ line);
}
}
catch ( Exception e) {
e.printStackTrace();
}
}
}
