import java.io.*;
import java.util.Properties;
import javax.mail.*;
import javax.mail.internet.*;
public class GetMessageExample {
public static void main( String args[]) throws Exception {
if (args.length != 3) {
System.err.println("Usage: java MailExample host username password");
System.exit(-1);
}
String host=args[0];
String username=args[1];
String password=args[2];
Properties props=new Properties();
Session session=Session.getDefaultInstance(props,null);
Store store=session.getStore("pop3");
store.connect(host,username,password);
Folder folder=store.getFolder("INBOX");
folder.open(Folder.READ_ONLY);
BufferedReader reader=new BufferedReader(new InputStreamReader(System.in));
Message message[]=folder.getMessages();
for (int i=0, n=message.length; i < n; i++) {
System.out.println(i + ": " + message[i].getFrom()[0]+ "\t"+ message[i].getSubject());
System.out.println("Read message? [YES to read/QUIT to end]");
String line=reader.readLine();
if ("YES".equalsIgnoreCase(line)) {
System.out.println(message[i].getContent());
}
else if ("QUIT".equalsIgnoreCase(line)) {
break;
}
}
folder.close(false);
store.close();
}
}
