import java.util.Date;
import java.io.IOException;
import java.net.UnknownHostException;
import com.linar.jintegra.AutomationException;
public class VbExample {
public void callBack( String p1, int p2){
System.out.println("Callback has been called, with " + p1 + " and "+ p2);
}
public String toString(){
return "An instance of VbExample";
}
public static void main( java.lang.String[] args){
}
}
