class using {
Groovy script;
You create;
class with {
methods that;
will be;
compatiblewith the;
Map using;
the property;
style access;
property id;
class UserInfo {
public void getName(){
return ("John");
}
public void getJob(){
return ("architect");
}
}
}
}
