import java.io.*;
public class ProcessTest {
public static void main( String args[]) throws IOException {
Process p=new ProcessBuilder("ipconfig").start();
InputStream is=p.getInputStream();
BufferedReader br=new BufferedReader(new InputStreamReader(is));
String line;
while ((line=br.readLine()) != null) {
System.out.println(line);
}
}
}
