{
String line;
OutputStream stdin=null;
InputStream stderr=null;
InputStream stdout=null;
Process process=Runtime.getRuntime().exec("/folder/exec.exe");
stdin=process.getOutputStream();
stderr=process.getErrorStream();
stdout=process.getInputStream();
line="param1" + "\n";
stdin.write(line.getBytes());
stdin.flush();
line="param2" + "\n";
stdin.write(line.getBytes());
stdin.flush();
line="param3" + "\n";
stdin.write(line.getBytes());
stdin.flush();
stdin.close();
BufferedReader brCleanUp=new BufferedReader(new InputStreamReader(stdout));
while ((line=brCleanUp.readLine()) != null) {
}
brCleanUp.close();
brCleanUp=new BufferedReader(new InputStreamReader(stderr));
while ((line=brCleanUp.readLine()) != null) {
}
brCleanUp.close();
}
