class MyEnumProc {
{
}
public override bool;
void wndenumproc( int hwnd, int lParam){
java.lang.StringBuffer str=new java.lang.StringBuffer(255);
User32.GetWindowText(hwnd,str,str.capacity());
string txt=str.ToString();
if (txt != string.Empty) Console.WriteLine(txt);
return true;
}
}
class AppMain {
static void Main( string[] args){
User32.EnumWindows(new MyEnumProc(),0);
Console.ReadLine();
}
}
