{
Transformer tr=TransformerFactory.newInstance().newTransformer();
tr.setOutputProperty(OutputKeys.INDENT,"yes");
tr.setOutputProperty(OutputKeys.METHOD,"xml");
tr.setOutputProperty("{http://xml.apache.org/xslt}indent-amount","3");
tr.transform(new DOMSource(dom),new StreamResult(new FileOutputStream("test.xml")));
}
