import org.xml.sax.*;
import org.xml.sax.helpers.*;
import javax.xml.parsers.*;
public class ChessboardSAXPrinter {
private SAXParser parser;
private PrintStream out;
public class ChessboardHandler extends HandlerBase {
private boolean whitePiece=false;
public void startElement( String name, AttributeList attrs){
if (name.equals("WHITEPIECES")) {
whitePiece=true;
}
else if (name.equals("BLACKPIECES")) {
whitePiece=false;
}
else if (name.equals("KING") || name.equals("QUEEN") || name.equals("BISHOP")|| name.equals("ROOK")|| name.equals("KNIGHT")|| name.equals("PAWN")) {
out.print((whitePiece ? "White" : "Black") + " " + name.toLowerCase()+ ": ");
}
else if (name.equals("POSITION")) {
if (attrs != null) {
out.print(attrs.getValue("COLUMN"));
out.println(attrs.getValue("ROW"));
}
}
return;
}
}
}
