import javax.xml.parsers.*;
import javax.xml.transform.*;
import org.apache.xpath.*;
public class ChessboardXPathPrinter {
private DocumentBuilder builder;
public void print( String fileName, PrintStream out) throws TransformerException, SAXException {
}
}
