public class NamespaceContextImpl implements NamespaceContext {
public String uri;
public String prefix;
public NamespaceContextImpl(){
}
public NamespaceContextImpl( String prefix, String uri){
this.uri=uri;
this.prefix=prefix;
}
public String getNamespaceURI( String prefix){
return uri;
}
public void setNamespaceURI( String uri){
this.uri=uri;
}
public String getPrefix( String uri){
return prefix;
}
public void setPrefix( String prefix){
this.prefix=prefix;
}
public Iterator getPrefixes( String uri){
return null;
}
}
