class eventlistener implements EventListener {
public eventlistener(){
}
public void handleEvent( Event e){
String s=" Event " + e.getType() + " received "+ "\n";
s+=" Event is cancelable :" + e.getCancelable() + "\n";
s+=" Event is bubbling event :" + e.getBubbles() + "\n";
s+=" The Target is " + ((Node)(e.getTarget())).getNodeName() + "\n\n";
System.out.println(s);
}
}
