import java.net.URL;
import java.io.*;
import org.xml.sax.InputSource;
import oracle.xml.parser.v2.*;
public class DTDSample {
static public void main( String[] args){
try {
if (args.length != 3) {
System.err.println("Usage: java DTDSample dtd rootelement xmldoc");
System.exit(1);
}
DOMParser parser=new DOMParser();
parser.setErrorStream(System.out);
parser.showWarnings(true);
FileReader r=new FileReader(args[0]);
InputSource inSource=new InputSource(r);
inSource.setSystemId(DemoUtil.createURL(args[0]).toString());
parser.parseDTD(inSource,args[1]);
DTD dtd=parser.getDoctype();
r=new FileReader(args[2]);
inSource=new InputSource(r);
inSource.setSystemId(DemoUtil.createURL(args[2]).toString());
parser.setDoctype(dtd);
parser.setValidationMode(DOMParser.DTD_VALIDATION);
parser.parse(inSource);
XMLDocument doc=parser.getDocument();
doc.print(new PrintWriter(System.out));
}
catch ( Exception e) {
System.out.println(e.toString());
}
}
}
