import java.io.*;
class FileReadTest {
public static void main( String[] args){
FileReadTest t=new FileReadTest();
t.readMyFile();
}
void readMyFile(){
String record=null;
int recCount=0;
try {
FileReader fr=new FileReader("mydata.txt");
BufferedReader br=new BufferedReader(fr);
record=new String();
while ((record=br.readLine()) != null) {
recCount++;
System.out.println(recCount + ": " + record);
}
}
catch ( IOException e) {
System.out.println("Uh oh, got an IOException error!");
e.printStackTrace();
}
}
}
