class WordCount {
public static void Main( string[] args){
if (args.Length != 1) {
Console.Error.WriteLine("usage: WordCount filename");
return;
}
StreamReader sr=null;
try {
sr=new StreamReader(args[0]);
int nWords=0;
while (nextWord(sr)) nWords++;
Console.WriteLine("Number of words = " + nWords);
}
catch ( IOException e) {
Console.Error.WriteLine(e.Message);
}
finally {
if (sr != null) sr.Close();
}
}
public static bool nextWord( StreamReader sr){
}
}
