package dombean;
import javax.xml.parsers.*;
import org.w3c.dom.*;
import java.io.*;
public class MyDOMParserBeanimplements {
{
}
public void MyDOMParserBean(){
}
public static void DocumentgetDocument( String file) throws Exception {
}
}
