import java.sql.Connection;
import java.sql.Statement;
import java.sql.DriverManager;
import java.sql.ResultSet;
import java.sql.SQLException;
import java.sql.ResultSetMetaData;
import java.sql.DatabaseMetaData;
public class HelloDatabase {
public static void main( String[] args){
String sDriverName="org.sqlite.JDBC";
try {
Class.forName(sDriverName);
}
catch ( Exception e) {
System.err.println(e);
}
String sTempDb="hello.db";
String sJdbc="jdbc:sqlite";
String sDbUrl=sJdbc + ":" + sTempDb;
int iTimeout=30;
String sMakeTable="CREATE TABLE dummy (id numeric, response text)";
String sMakeInsert="INSERT INTO dummy VALUES(1,'Hello from the database')";
String sMakeSelect="SELECT response from dummy";
try {
Connection conn=DriverManager.getConnection(sDbUrl);
Statement stmt=conn.createStatement();
stmt.setQueryTimeout(iTimeout);
stmt.executeUpdate(sMakeTable);
stmt.executeUpdate(sMakeInsert);
ResultSet rs=stmt.executeQuery(sMakeSelect);
while (rs.next()) {
String sResult=rs.getString("response");
System.out.println(sResult);
}
}
catch ( SQLException e) {
System.err.println(e);
}
}
}
