package mybeans;
import java.sql.*;
import javax.servlet.http.*;
public class JDBCQueryBean implements HttpSessionBindingListener {
String searchCond="";
String result=null;
public void JDBCQueryBean(){
}
public synchronized String getResult(){
if (result != null) return result;
else return runQuery();
}
public synchronized void setSearchCond( String cond){
result=null;
this.searchCond=cond;
}
private Connection conn=null;
private String runQuery(){
StringBuffer sb=new StringBuffer();
Statement stmt=null;
ResultSet rset=null;
try {
if (conn == null) {
DriverManager.registerDriver(new oracle.jdbc.driver.OracleDriver());
conn=DriverManager.getConnection("jdbc:oracle:oci@","scott","tiger");
}
stmt=conn.createStatement();
rset=stmt.executeQuery("SELECT ename, sal FROM scott.emp " + (searchCond.equals("") ? "" : "WHERE " + searchCond));
result=formatResult(rset);
return result;
}
catch ( SQLException e) {
return ("<P> SQL error: <PRE> " + e + " </PRE> </P>\n");
}
finally {
try {
if (rset != null) rset.close();
if (stmt != null) stmt.close();
}
catch ( SQLException ignored) {
}
}
}
private String formatResult( ResultSet rset) throws SQLException {
StringBuffer sb=new StringBuffer();
if (!rset.next()) sb.append("<P> No matching rows.<P>\n");
else {
sb.append("<UL><B>");
do {
sb.append("<LI>" + rset.getString(1) + " earns $ "+ rset.getInt(2)+ "</LI>\n");
}
while (rset.next());
sb.append("</B></UL>");
}
return sb.toString();
}
public void valueBound( HttpSessionBindingEvent event){
}
public synchronized void valueUnbound( HttpSessionBindingEvent event){
try {
if (conn != null) conn.close();
}
catch ( SQLException ignored) {
}
}
}
