@CHARSET "ISO-8859-1";
body {
	font-family: segoe ui, verdana;
	margin: 5px;
}

div {
	border: 0px solid gray;
	margin: 2px;
}

div .step {
	border: none;
	width: 60px;
	height: 25px;
	font-size: 1em;
	background-color: #afbdca;
	text-align: center;
}

div .active {
	width: 120px;
	height: 50px;
}

#divCode {
	font-family: Consolas;
	font-size: 1em;
	line-height: 1.5em;
	clear: left;
	width: 1000px;
}

#divSubmit {
	clear: left;
}

.lineNumber {
	background-color: #e0e9f2;
	font-size: 12px;
}

#divCodeNumber {
	text-align: center;
}

#divWordInfo {
	width:420px;
}

.odd {
	background-color: #dbdbdb;
	color: #000000;
}

.even {
	background-color: #cccccc;
	color: #000000;
}

tr .active {
	font-weight: bold;
	font-size: 1.2em;
	background-color: #567f9c;
	color: #FFFFFF;
}

tr .passive {
	background-color: #e7e7e7	;
	cursor: pointer;
	font-size: 0.8em;
	text-align: top;
}

tr .passive:hover {
	background-color: #81a2bc;
	text-decoration: underline;
}

#divRating {
	text-align: center;
	width: 240px;
}

#divApproveSample {
	text-align: center;
	width: 300px;
}

.error {
	display:none;
	color: red;
	font-size: 0.8em;
}

.stepBox {
	position: relative;
	float: left;
}

.copyright {
	font-size: 0.9em;
	color:blue;
	width: 600px;
	position: relative;
}

.noimage {
	visibility: hidden;
}

.showimage {
	visibility: visible;
	margin-left: 35%;
}

#divMain {
	margin-left:auto;
	margin-right:auto;
}

#divHint {
	vertical-align: top;
	width: 350px;
}

#tdHintCell {
	font-family: segoe ui, verdana;
}

.divInvisibleHint {
	display: none;
}