@CHARSET "ISO-8859-1";
body {
	font-family: segoe ui, verdana;
	margin: 5px;
}

div {
	border: 0px solid gray;
	margin: 2px;
}

div .step {
	border: none;
	width: 60px;
	height: 25px;
	font-size: 1em;
	background-color: #d4e692;
}

div .active {
	width: 120px;
	height: 50px;
}

#divCode {
	font-family: monospace;
	font-size: 1em;
	line-height: 1.5em;
	clear: left;
}

.lineNumber {
	background-color: #e0e9f2;
	font-size: 12px;
}

#divCodeNumber {
	text-align: center;
}

#divWordInfo {
	width:420px;
}

.odd {
	background-color: #F5FCE9;
}

.even {
	background-color: #EDF7EA;
}

tr .active {
	font-weight: bold;
	font-size: 1.2em;
	background-color: #D4E692;
}

tr .passive {
	background-color: #EDF7EA;
	cursor: pointer;
	font-size: 0.8em;
	text-align: top;
}

tr .passive:hover {
	background-color: #edfcb0;
	text-decoration: underline;
}

#divRating {
	text-align: center;
	width: 240px;
}

#divApproveSample {
	text-align: center;
	width: 300px;
}

.error {
	display:none;
	color: red;
	font-size: 0.8em;
}

.stepBox {
	position: relative;
	float: left;
}

.copyright {
	font-size: 0.9em;
	color:blue;
}

.noimage {
	visibility: hidden;
}

.showimage {
	visibility: visible;
	margin-left: 35%;
}

#divMain {
	margin-left:auto;
	margin-right:auto;
}