import java.io.*;
import java.util.*;
import javax.mail.*;
public class ReadAttachment {
public static void main( String args[]) throws Exception {
String host="192.168.10.205";
String user="komal";
String password="komal";
Properties properties=System.getProperties();
Session session=Session.getDefaultInstance(properties);
Store store=session.getStore("pop3");
store.connect(host,user,password);
Folder folder=store.getFolder("inbox");
folder.open(Folder.READ_WRITE);
Message[] message=folder.getMessages();
for (int a=0; a < message.length; a++) {
System.out.println("-------------" + (a + 1) + "-----------");
System.out.println(message[a].getSentDate());
Multipart multipart=(Multipart)message[a].getContent();
for (int i=0; i < multipart.getCount(); i++) {
BodyPart bodyPart=multipart.getBodyPart(i);
InputStream stream=bodyPart.getInputStream();
BufferedReader br=new BufferedReader(new InputStreamReader(stream));
while (br.ready()) {
System.out.println(br.readLine());
}
System.out.println();
}
System.out.println();
}
folder.close(true);
store.close();
}
}
