package test.excel.form;
import org.apache.struts.action.*;
import org.apache.struts.upload.FormFile;
public class StrutsUploadForm extends ActionForm {
private FormFile excelFile;
public FormFile getExcelFile(){
return excelFile;
}
public void setExcelFile( FormFile excelFile){
this.excelFile=excelFile;
}
}
