public class Response {
private int _matches=0;
private Request _request;
public Request getRequest(){
return _request;
}
public void setRequest( Request request){
_request=request;
}
public int getMatches(){
return _matches;
}
public void setMatches( int matches){
_matches=matches;
}
}
