import java.io.FileReader;
public class Main {
public static void main( String[] argv) throws Exception {
FileReader fr=new FileReader("text.txt");
int ch;
do {
ch=fr.read();
if (ch != -1) System.out.println((char)ch);
}
while (ch != -1);
fr.close();
}
}
