import java.io.*;
public class JavaBufferedReaderSystemInExample {
public static void main( String[] args) throws Exception {
String userName=null;
System.out.print("Enter your name: ");
BufferedReader bufferedReader=new BufferedReader(new InputStreamReader(System.in));
userName=bufferedReader.readLine();
System.out.println("Thanks for the name, " + userName);
}
}
