import java.io.FileInputStream;
import java.nio.ByteBuffer;
import org.apache.aio.AioFutureListener;
import org.apache.aio.AioFutureReadWrite;
import org.apache.aio.AsynchronousFileChannel;
public class AIOTest {
public static void main( String[] args) throws Exception {
FileInputStream in=new FileInputStream("/etc/passwd");
AsynchronousFileChannel achannel=new AsynchronousFileChannel(in.getFD());
AioFutureListener<AioFutureReadWrite> listener=new AioFutureListener<AioFutureReadWrite>(){
public void onCompletion( AioFutureReadWrite ioFuture){
System.out.println("In callback");
byte[] data=new byte[ioFuture.getBuffer().limit() - ioFuture.getBuffer().position()];
ioFuture.getBuffer().get(data);
System.out.println(" Buffer contains: " + new String(data));
}
}
;
ByteBuffer buffer=ByteBuffer.allocateDirect(4096);
AioFutureReadWrite future=achannel.read(buffer,0);
future.addListener(listener);
future.join();
}
}
