{
String DownloadURL=rs.getString(5);
Properties ctx=new Properties(Env.getCtx());
Env.setContext(ctx,"#AD_Client_ID",AD_Client_ID);
Env.setContext(ctx,"AD_Client_ID",AD_Client_ID);
Env.setContext(ctx,"#AD_Org_ID",AD_Org_ID);
}
