import java.io.*;
import java.util.zip.*;
public class UnZip {
final int BUFFER=2048;
public static void main( String argv[]){
try {
BufferedOutputStream dest=null;
FileInputStream fis=newFileInputStream(argv[0]);
ZipInputStream zis=newZipInputStream(new BufferedInputStream(fis));
ZipEntry entry;
while ((entry=zis.getNextEntry()) != null) {
System.out.println("Extracting: " + entry);
int count;
byte data[]=new byte[BUFFER];
FileOutputStream fos=newFileOutputStream(entry.getName());
dest=newBufferedOutputStream(fos,BUFFER);
while ((count=zis.read(data,0,BUFFER)) != -1) {
dest.write(data,0,count);
}
dest.flush();
dest.close();
}
zis.close();
}
catch ( Exception e) {
e.printStackTrace();
}
}
}
