import org.xml.sax.*;
import org.xml.sax.helpers.*;
import javax.xml.parsers.*;
public class ChessboardSAXPrinter {
private SAXParser parser;
public ChessboardSAXPrinter( boolean validating) throws Exception {
}
public void print( String fileName, PrintStream out) throws SAXException, IOException {
}
public static void main( String[] args){
}
}
