import org.jdom.*;
import org.jdom.input.*;
import org.xml.sax.*;
public class ChessboardJDOMPrinter {
private static boolean verbose=false;
private SAXBuilder builder;
public ChessboardJDOMPrinter( boolean validating) throws Exception {
}
public void print( String fileName, PrintStream out) throws JDOMException {
Document document=builder.build(fileName);
Element root=document.getRootElement();
List chessboards=root.getChildren("CHESSBOARD");
for (int i=0; i < chessboards.size(); i++) {
Element chessboard=(Element)chessboards.get(i);
String[] pieceSetTags={"WHITEPIECES","BLACKPIECES"};
for (int j=0; j < pieceSetTags.length; j++) {
List pieceSets=chessboard.getChildren(pieceSetTags[j]);
for (int k=0; k < pieceSets.size(); k++) {
Element pieceSet=(Element)pieceSets.get(k);
String[] pieceTags={"KING","QUEEN","BISHOP","ROOK","KNIGHT","PAWN"};
for (int l=0; l < pieceTags.length; l++) {
List pieces=pieceSet.getChildren(pieceTags[l]);
for (int m=0; m < pieces.size(); m++) {
Element piece=(Element)pieces.get(m);
Element position=piece.getChild("POSITION");
out.println((j == 0 ? "White " : "Black ") + pieceTags[l].toLowerCase() + ": "+ position.getAttributeValue("COLUMN")+ position.getAttributeValue("ROW"));
}
}
}
}
}
return;
}
}
