private class NamespaceContextImpl implements NamespaceContext {
public String uri;
public String prefix;
public String getUri(){
return uri;
}
public void setUri( String uri){
this.uri=uri;
}
public String getPrefix(){
return prefix;
}
public void setPrefix( String prefix){
this.prefix=prefix;
}
}
