class nf implements NodeFilter {
public short acceptNode( Node node){
short type=node.getNodeType();
if ((type == Node.ELEMENT_NODE) || (type == Node.ATTRIBUTE_NODE)) return FILTER_ACCEPT;
if ((type == Node.ENTITY_REFERENCE_NODE)) return FILTER_REJECT;
return FILTER_SKIP;
}
}
