package stocks;
import java.util.*;
public class PortfolioBean {
{
}
private Vector portfolio=new Vector();
public PortfolioBean(){
portfolio.addElement(new Stock("SUNW","Sun Microsystems",(float)17.1));
portfolio.addElement(new Stock("AOL","America Online",(float)51.05));
portfolio.addElement(new Stock("IBM","International Business Machines",(float)116.10));
portfolio.addElement(new Stock("MOT","MOTOROLA",(float)15.20));
}
public Iterator getPortfolio(){
return portfolio.iterator();
}
}
