{
String driver="org.apache.derby.jdbc.EmbeddedDriver";
String dbName="/DerbyDB/AssetDB";
String connectionURL="jdbc:derby:" + dbName;
Connection conn=null;
try {
Class.forName(driver);
}
catch ( java.lang.ClassNotFoundException e) {
e.printStackTrace();
}
try {
conn=DriverManager.getConnection(connectionURL);
}
catch ( Throwable e) {
e.printStackTrace();
}
finally {
conn.close();
}
}
