package net.scriptinginjava.invocable;
import java.io.FileReader;
import javax.script.Invocable;
import javax.script.ScriptEngine;
import javax.script.ScriptEngineManager;
public class InvocableTest {
public static void main( String[] args) throws Exception {
ScriptEngineManager factory=new ScriptEngineManager();
ScriptEngine engine=factory.getEngineByName("js");
if (engine instanceof Invocable) {
engine.eval(new FileReader("src/net/scriptinginjava/invocable/function.js"));
((Invocable)engine).invokeFunction("sayHello","World");
}
}
}
