html {
	overflow-y: scroll;
}

.navmain:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	text-decoration:none;
}

.navmain:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	text-decoration:none;
}

.navmain:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	text-decoration:underline;
}

.navmain:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	text-decoration:none;
}

.rightmenunav:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #999;
	text-align: left;
	text-decoration:none;
}

.rightmenunav:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #999;
	text-align: left;
	text-decoration:none;
}

.rightmenunav:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	text-align: left;
	text-decoration:none;
}

.rightmenunav:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #999;
	text-align: left;
	text-decoration:none;
}

titleswhite {
	color: #FFF;
}
.basic #form1 table tr td {
	color: #333;
	font-size: 12px;
	font-weight: bold;
}
.whitetitle {
	color: #FFF;
}
